<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="http://abeburnett.github.com">Abe Burnett</a>
	  <div class="nav-collapse">
		<ul class="nav">
		  <li class="">
			<a href="http://abeburnett.github.com">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/abeburnett" target="_blank">GitHub</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.linkedin.com/in/abrahamburnett" title="Go to linkedin profile" target="_blank">LinkedIn</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.twitter.com/abeburnett" title="Go to twitter.com/abeburnett" target="_blank">Twitter</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://feeds.feedburner.com/abeburnett" title="Go to feedburner" target="_blank">RSS</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://coderwall.com/abeburnett" title="Go to coderwall/abeburnett" target="_blank">Coderwall</a>
		  </li>
		</ul>
	  </div>
	</div>
  </div>
</div>