<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://abeburnett.github.com">Abe Burnett: Web + Mobile Developer and Data Scientist</a>
	  <div class="nav-collapse">
		<ul class="nav">
		  <li class="">
			<a href="http://abeburnett.github.com"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class=""><a href="http://www.twitter.com/abeburnett" rel="tooltip" title="Go to twitter.com/abeburnett" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/abeburnett" rel="tooltip" title="Go to github.com/abeburnett" target="_blank">GitHub</a></li>
					<li class=""><a href="http://www.linkedin.com/in/abrahamburnett" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>
					<li class=""><a href="http://coderwall.com/abeburnett" rel="tooltip" title="Go to coderwall/abeburnett" target="_blank">Coderwall</a></li>
					<li class="divider"></li>
					<li class=""><a href="http://feeds.feedburner.com/abeburnett" rel="tooltip" title="Go to feedburner" target="_blank">RSS</a></li>
				</ul>
			 </li>
		</ul>
	  </div>
	</div>
  </div>
</div>