<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://abeburnett.github.com">Abe Burnett: Web + Mobile Developer and Data Scientist</a>
	  <div class="nav-collapse">
		<ul class="nav">
		  <li class="">
			<a href="http://abeburnett.github.com"><i class="icon-home"></i> Home</a>
		  </li>
		</ul>
	  </div>
	</div>
  </div>
</div>